<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings >
    <add name="proyecto" connectionString ="Data Source = DESKTOP-8075K7T\PROYECTO ; Initial Catalog = Proyecto ; Integrated security = SSPI"/>
    <add name="PruebaCasa" connectionString ="Data Source = DESKTOP-9VQ3KJA\PROYECTO ; Initial Catalog = Proyecto ; Integrated security = SSPI"/>
  </connectionStrings>
</configuration>